@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icons {
    @apply text-xl md:text-3xl my-4 border 
    rounded-full p-1 hover:border-fuchsia-500 
    hover:text-fuchsia-500 transform duration-300 
    cursor-pointer text-[#999999] border-[#999999] ;
  }

  .button-div-class {
    @apply text-center w-full border  border-fuchsia-600 bg-fuchsia-600
    hover:border-fuchsia-400 rounded-full px-6 py-2  hover:bg-[#111111] transform duration-200;
  }

  .image-class {
    @apply flex flex-col border 
    border-[#323232] transform duration-300 
    rounded-2xl p-6 hover:border-fuchsia-500;
  }

  .nav-link {
    @apply hover:border border border-b-4 border-b-[#323232] hover:border-b-4 hover:border-b-fuchsia-500 px-4 py-1 
    border-t-0 border-r-0 border-l-0 border-t-[#323232] border-r-[#323232] border-l-[#323232]
    hover:bg-[#323232] transform duration-200;
  }

  .main-card{
    @apply flex flex-col text-left border p-4  cursor-pointer
    border-[#333333] rounded-xl hover:bg-fuchsia-950/30 hover:border-fuchsia-400 transform duration-300
  }

  .sub-card {
    @apply flex flex-col text-left border p-4 w-full cursor-pointer my-1
    border-[#333333] rounded-xl hover:bg-fuchsia-950/30 hover:border-fuchsia-400 transform duration-300
  }

  /* _________________________________________________________________________________________________________________________ */

  .grid-one-main-card{
    @apply flex flex-col text-left border p-4  mx-1 cursor-pointer
    border-[#333333] rounded-xl hover:bg-fuchsia-950/30 
    hover:border-fuchsia-400 transform duration-300
  }

  .grid-one-sub-card {
    @apply flex flex-col text-left border p-4 w-full cursor-pointer
    border-[#333333] rounded-xl hover:bg-fuchsia-950/30 
    hover:border-fuchsia-400 transform duration-300 my-1
  }
}
